@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Montserrat";
  scroll-behavior: smooth;
}
section {
  display: flex;
  flex-direction: row;
  padding-inline: 10%;
  gap: 10%;
}
b {
  color: gray;
  font-weight: 800;
  width: 50%;
}
#title {
  margin: 3% 10%;
  text-transform: uppercase;
}
#name {
  color: rgb(34, 149, 231);
  font-size: 29px;
}
section img {
  width: 28%;
  margin-left: 10%;
}
.box {
  padding: 3% 4%;
  height: 63vh;
  width: 45%;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.box form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6vh !important;
}

.box div {
  align-self: end;
  padding: 2% 4%;
  background-color: rgb(34, 149, 231);
  color: white;
  border-radius: 7px;
  cursor: pointer;
  width: 30%;
  text-align: center;
  position: relative;
  font-weight: 700;
}
p {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
}
p span {
  width: 50%;
  text-align: start;
}
.box div i {
  position: absolute;
  left: 85%;
  top: 30%;
  cursor: pointer;
}
.box div:hover {
  background-color: rgb(29, 112, 171);
}
#editBox {
  padding-top: 5%;
  display: none;
  width: 50%;
}
.editInput {
  width: 80%;
  height: 40px;
  background-color: rgb(227, 227, 227);
  border: none;
  border-radius: 7px;
  padding-inline: 2%;
  text-align: center;
}
#done {
  align-self: center;
  padding: 2% 4%;
  color: rgb(34, 149, 231);
  border: 1px solid rgb(34, 149, 231);
  background-color: white;
  border-radius: 7px;
  cursor: pointer;
  width: 30%;
  text-align: center;
  position: relative;
  font-weight: 800;
  font-size: 100%;
}
#done:hover {
  background-color: rgb(210, 227, 239);
}
#quite {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 10%;
  font-size: 100%;
  cursor: pointer;
}
#quite:hover {
  font-size: 120%;
}
